<?xml version="1.0" encoding="ISO-8859-1" ?>
<jleaser>
    <ports>
        <favour>included</favour>
        <included>
            2220,
            2222,
            1000-1020,
            2000-2020
        </included>
        <excluded>
            2221,
            2010-2030,
            3000-3020
        </excluded>
    </ports>
    <docker>
        <resourcePoolLimit>0</resourcePoolLimit>
        <containers>
            <container>
                <id>tutum/mysql</id>
                <baseImage>tutum/mysql</baseImage>
                <containerPoolLimit>1</containerPoolLimit>
                <resetOnReturnLease>true</resetOnReturnLease>
            </container>
            <container>
                <id>tutum/mongodb</id>
                <baseImage>tutum/mongodb</baseImage>
                <containerPoolLimit>0</containerPoolLimit>
                <resetOnReturnLease>false</resetOnReturnLease>
            </container>
        </containers>
    </docker>
</jleaser>