<?xml version="1.0" encoding="ISO-8859-1" ?>
<jleaser>
    <ports>
        <included>
            *,
            49151,
            49140-49145,
            39140-39150
        </included>
        <excluded>
            49153,
            49160-49170,
            39143-39146
        </excluded>
    </ports>
    <docker>
        <resourcePoolLimit>0</resourcePoolLimit>
        <containers>
            <container>
                <id>tutum/mysql</id>
                <baseImage>tutum/mysql</baseImage>
                <containerPoolLimit>1</containerPoolLimit>
                <resetOnReturnLease>true</resetOnReturnLease>
            </container>
            <container>
                <id>tutum/mongodb</id>
                <baseImage>tutum/mongodb</baseImage>
                <containerPoolLimit>0</containerPoolLimit>
                <resetOnReturnLease>false</resetOnReturnLease>
            </container>
        </containers>
    </docker>
</jleaser>