<?xml version="1.0" encoding="ISO-8859-1" ?>
<jleaser>
    <foo>Hello</foo>
    <!-- TODO validate -->
    <!-- TODO Default Location -->
    <!--<ports>-->
        <!--<included>-->
            <!--<port>2222</port>-->
            <!--<port>2222</port>-->
            <!--<range>-->
                <!--<from>1230</from>-->
                <!--<to>1235</to>-->
            <!--</range>-->
        <!--</included>-->
        <!--<excluded>-->
            <!--<port></port>-->
            <!--<range>-->
                <!--<from></from>-->
                <!--<to></to>-->
            <!--</range>-->
        <!--</excluded>-->
    <!--</ports>-->
    <!--<docker>-->
        <!--<poolsize>0</poolsize>  Pool size for all docker containers where default zero means unlimited -->
        <!--<ports>-->
            <!--<reserved>  The DockerPool will take a lease out on these resources and distribute them to it's resources -->
                <!--<port></port>-->
                <!--<range>-->
                    <!--<from></from>-->
                    <!--<to></to>-->
                <!--</range>-->
            <!--</reserved>-->
        <!--</ports>-->
        <!--<resources>-->
            <!--<resource>-->
                <!--<configId>mysql</configId>-->
                <!--<image>tutu/mysql</image>-->
                <!--<command>pwd</command>-->
                <!--<poolsize>0</poolsize>  Pool size for only containers of this image, where default zero means unlimited -->
                <!--<ports>  A host port mapping implies a resource limit of one for this image. We need to also the limit on ports which would need to be global-->
                    <!--<port>-->
                        <!--<host>3606</host>-->
                        <!--<container>3606</container>-->
                    <!--</port>-->
                    <!--<port>-->
                        <!--<host>?</host>-->
                        <!--<container>3606</container>-->
                    <!--</port>-->
                <!--</ports>-->
                    <!--Implement more commands http://docs.docker.com/reference/commandline/cli/#run-->
                    <!--IDEA: template volumes for test data, to create disposable test data-->
                    <!--this may require creating a the volume from code with the correct test data-->
                    <!--in it before it's available to use between images.-->
            <!--</resource>-->
        <!--</resources>-->
    <!--</docker>-->
</jleaser>